* {
    margin: 0;
    padding: 0;
}

body{
   background-image: url('../pics/backgroundImagine.jpg');
}

.container{
   margin: 0 auto;
   opacity: 1.0;
   border-style: solid;
   height: 200vh;
   width: 120vh;
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 30vh, 30vh 30vh, 30vh, 30vh,30vh;
}

.headerPage{
   grid-column:1/2;
   grid-row: 1/2;'
   text-align: center;
   padding:10px;
   margin-left: 20px;
   margin-top:10px;
}

.description{
   grid-column: 2/2;
   text-align:center;
   margin-top:30px;
}
.history{
   margin-top:20px;
   padding:10px;
   margin-left:20px;
}

.myFamily{
   grid-column: 2/2;
   grid-row: 2/3;
   margin-left : 40px;
   
}
.descriptionTwo{
   grid-column:1/2;
   grid-row: 2/3;
   text-align: center;
   padding: 10px;
   margin-left:10px;
   color: white;
}

.myMom{
   grid-column: 1/2;
   grid-row: 3/4;
   padding:10px;
   margin-left: 20px;
}

.descriptionThree{
   grid-columns: 2/2;
   grid-row: 3/4;
   text-align: center; 
   padding: 10px;
}

.myDad{
   grid-column: 2/2;
   grid-row: 4/5;
   margin-left: 40px;
}

.descriptionFour{
   grid-column: 1/2;
   grid-row: 4/5;
   text-align: center;
   padding:10px;
   margin-left:20px;
   color:white;
}

.myBrother{
   grid-column: 1/2;
   grid-row: 5/6;
   padding:10px;
   margin-left:20px;
}

.descriptionFive{
   grid-column:2/2;
   grid-rows: 5/6;
   text-align: center;
   padding:10px;
   margin-left:20px;
}