main{
   display:flex;
   align-items: center;
   flex-direction:column;
   grid-column:3/5;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}