body{
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}
.leftcolumn {   
  float: left;
  width: 75%;
  padding-right:25px;
}

.rightcolumn {
  float: left;
  width: 23%;
}
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.printing {
  background-color: #aaa;
  width: 95%;
  padding: 20px;
   background-size:contain;
   height:200px;
  background-image:url("../pictures/3dPrint2.png");
}

