body{
  font-family: Arial;
  padding: 20px;
  background: #707070;
}
.leftcolumn {   
  float: left;
  width: 75%;
  padding-right:25px;
}

.rightcolumn {
  float: left;
  width: 23%;
}
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
 box-shadow: 10px 10px 15px rgba(0,0,0,1)
}
#printing {
  width: 95%;
  padding: 20px;
  background-size:contain;
  height:200px;
  background-image:url("../pictures/3dPrint2.png");
}
#gym {
  width: 95%;
  padding: 20px;
  background-size:contain;
  height:200px;
  background-image:url("../pictures/workout.jpg");
}
#investing {
  width: 95%;
  padding: 20px;
  background-size:contain;
  height:200px;
  background-image:url("../pictures/investing.jpg");
  
}
#profilePicture {
  padding: 20px;
  height:300px;
  width:auto;
 
}

