* {
    margin: 0;
}
/* navbar*/
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}
header {
    display: flex;
    grid-column: 1/7;
    width: 100%;

}

header li {
    float: left;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover:not(.active) {
    background-color: #111;
}

header .active {
    background-color: #04AA6D;
    margin-left: 97rem;
}

#content {
    background-color: #EDE5BB;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.navBar {
    width: 100%;

}

/* no

 */














/*footer*/


